{% extends 'base.html' %}
{% block center %}

    <h1>IMAG@NJUST</h1>
    <p>
    <h4>Welcome to Intelligent Media Analysis Group (IMAG) in School of Computer Science, Nanjing University of Science and Technology. Our team focuses on analyzing the big media and aims to develop frontier technologies to address the analysis, understanding and management tasks of the big multimedia data. Besides, we also pay attention to the real-world applications, such as multimedia retrieval, face recognition and recommendation. For more information about our work, please refer to the publication page.
    </h4>
    </p>
    <h2>Last News</h2>
    <p>
        <ul>
            <li>
                Jul. 2020: Two papers are accepted by ECCV 2020.
            </li>
            <li>
                Feb. 2020: Two papers are accepted by CVPR 2020.
            </li>
            <li>
                Jan. 2020: One paper is accepted by TPAMI.
            </li>
            <li>
                Jan. 2020: Three papers are accepted by IEEE TIP.
            </li>
            <li>
                Dec. 2019: Two papers are accepted by AAAI 2020.
            </li>
        </ul>
    </p>
{% endblock %}